.modalHeader {
  justify-content: center;
  border-bottom: none;
}
.modalBody {
  margin: 0 15px;
  overflow-y: auto;
}

.select {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.inputGroup {
  position: relative;
}

.iconPassword,
.iconPassword:hover {
  cursor: pointer;
  position: absolute;
  font-size: 1.3em;
  right: 16px;
}

.iconPasswordDefault {
  bottom: 5px;
}

.iconPasswordError {
  bottom: 28px;
}

.caretDown::before {
  top: 41px;
  right: 15px;
  content: '';
  border: 13px solid transparent;
  border-top: 19px solid #5a57ab;
  margin-left: 2px;
  margin-bottom: 3px;
  display: inline-block;
  vertical-align: bottom;
  position: absolute;
}
