/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

th,
td {
  border-top: 1px solid #828282;
  border-bottom: 1px solid #828282 !important;
  border-left: 1px solid #828282;
  border-right: 1px solid #828282;
}
